* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first_logo {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav_bar {
    display: flex;
}

.nav_bar li {
    list-style: none;
    margin-right: 20px;
}

.nav_bar li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.mobile_menu {
    display: none;
    color: black;
    font-size: 60px;
    cursor: pointer;
}

.mobile_menu span {
    width: 60px;
    height: 4px;
    margin-bottom: 5px;
    background-color: #000000;
}


.information_box {
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    padding: 50px;
}

.information_box h1 {
    margin-bottom: 30px;
}

.social {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.social_media {
    display: flex;
    margin-top: 12px;
    gap: 12px;
}

.box_1 ul {
    list-style: none;
}


input {
    width: 400px;
    height: 65px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}



.button_tap {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 110px;
    height: 30px;
    margin-top: 15px;
    background-color: rgb(233, 151, 0);
    border-radius: 7px;
    padding: 5px;
    color: #ffff;
}

.information_box ul li {
    margin-top: 15px;
}

@media (max-width: 1024px){
    .information_box {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 300px;
    }
    nav {
        display: none;
    }
    .mobile_menu {
        display: flex;
        flex-direction: column;
    }
    
}
